{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ CLIENT_NAME }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <!-- global -->
    <link rel="stylesheet" href="{% static 'css/identidade.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Importação do CSS específico do admin separada em arquivo dedicado -->
    <link rel="stylesheet" href="{% static 'css/base_site.css' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ CLIENT_NAME }} - Painel Administrativo</a>
    </h1>
{% endblock %}